
.nav-list {
    gap: 40px;
    display: block;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px;
    height: 100%;
    justify-content: center;
    position: fixed;
    background-color: blanchedalmond;
}

a {
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #242635;
    font-size: 40px;
}

li {
   list-style-type: none;
}
.active {
    background-color: #cfe080;
    color: rgb(136, 136, 152);
}
.nav-list a:hover:not(.active) {
    background-color: rgb(60, 40, 10);
    color: rgb(226, 212, 212);
    
}

main {
    margin-left: 210px;
    height: 100vh;
    padding-top: 1px;
    background-color: rgb(238, 209, 151);
    display: flex;
    justify-content: center;

}
h1 {
    text-align: center;
    font-size: 70px;

}
